<div class="footer">
    <div class="footer-content">
        <div class="row">
            <div class="col-sm-5">
                <!-- <h3>TÌM HIỂU THÊM VỀ CHỮ KÝ SỐ</h3>
                <p>Chữ ký số Viettel-CA được đánh giá là dịch vụ chữ ký số tốt, ổn định, hỗ trợ kỹ thuật 24/7 và được nhiều công ty, tổ chức tin tưởng sử dụng nhiều nhất hiện nay.</p> -->
                <div class="column one-second">
                    <aside id="custom_html-2" class="widget_text widget widget_custom_html">
                        <h4>Liên hệ</h4>
                        <div class="textwidget custom-html-widget">
                            <i class="fa fa-map-marker"></i> &nbsp;&nbsp;Địa chỉ: Số 16 Lê Đại Hành, Quận Hai Bà Trưng,
                            Hà Nội<br>
                            <i class="fa fa-envelope"></i> &nbsp;Email:cskh@vietteltelecom-hanoi.vn <br>
                            <i class="fa fa-globe"></i> &nbsp;&nbsp;Website:<a
                                href="http://vietteltelecom-hanoi.vn/">http://vietteltelecom-hanoi.vn/</a>
                            <br>
                            <i class="fa fa-phone"></i> &nbsp;&nbsp;Liên Hệ: <a href="tel:0985999765">0985.999.765</a>
                            <br>
                        </div>
                    </aside>
                </div>
            </div>
            <div class="col-sm-3 quick-menu">
                <h3>MENU NHANH</h3>
                <ul>
                    <li><a [routerLink]="['/pages/home']">Trang chủ</a></li>
                    <li><a [routerLink]="['/pages/digital-signature']">Chữ ký số</a></li>
                    <li><a [routerLink]="['/pages/electric-bill']">Hóa đơn điện tử</a></li>
                    <!-- <li><a  [routerLink]="['/pages/guide']">Hướng dẫn</a></li> -->
                    <li><a [routerLink]="['/pages/contact']">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h3>LIÊN HỆ</h3>
                <!-- <div *ngIf="!isContact else notContact">
                    <p><span class="address">Địa chỉ:</span> Số 16 - Lê Đại Hành - Quận Hai Bà Trưng - Hà Nội</p>
                    <div class="icon-bar">
                        <div class="icon facebook"><a href="#"></a></div>
                        <div class="icon youtube"><a href="#"></a></div>
                        <div class="icon instagram"><a href="#"></a></div>
                    </div>
                </div> -->
                <div #mapfooter id="map-footer" style="width:100%;height:200px"></div>
            </div>
        </div>
    </div>
    <p class="quote" style="padding-bottom: 0;padding-top:20px; font-weight: 700">
        © Viettel Telecom 2015. All rights reserved.
    </p>
    <p style="text-align: center;font-size: 14px">Cơ quan chủ quản: Tập đoàn Công nghiệp - Viễn thông Quân đội. Giấy
        phép số: 144/GP - BC do Bộ
        thông tin - Truyền thông cấp ngày 18/04/2007</p>
</div>