@import '../../scss/mixin.scss';
.footer {
    line-height: $font-size-3;
    .footer-content {
        @media (min-width: $screen-sm-min) {
            margin-left: -9999px;
            margin-right: -9999px;
            padding-left: 9999px;
            padding-right: 9999px;
        }
        @media (max-width: $screen-xs-max) {
            margin-left: -30px;
            margin-right: -30px;
            padding-left: 15px;
            padding-right: 15px;

            > .row {
                margin: 0;
            }
        }
        
        text-align: center;
        padding-top: 40px;
        padding-bottom: 60px;
        background: #2b292a;
        color: #fff;

        ul {
            padding-left: 0;
            li {
                list-style-type: none;
            }
        }

        .row {
            text-align: left;
        }
    }
    .quote {
        text-align: center;
        padding: 40px;
    }
    .icon-bar {
        .icon {
            @extend %icon;
            position: relative;
            margin-right: 15px;
            &.youtube {
                background: url("../../assets/images/youtube.svg") center no-repeat;
                background-size: contain;
            }
            &.facebook {
                background: url("../../assets/images/facebook.svg") center no-repeat;
                background-size: contain;
            }
            &.instagram {
                background: url("../../assets/images/instagram.svg") center no-repeat;
                background-size: contain;
            }

            a {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }
    }
    .address {
        color: $primary-color;
        font-weight: bold;
    }
    .quick-menu {
        a {
            text-decoration: underline;
        }
        
        @media (min-width: $screen-sm-min) {
            padding-left: 60px;
        }
        
    }
}