<div class="transclusion-container">
  <img class="top-picture" src="../../../assets/images/chu-ky-so-tot-nhat.jpg" alt="chu ky so tot nhat">
  <div class="row">
    <div class="col-md-9">
      <ng-content></ng-content>
    </div>
    <div class="col-md-3">
      <div class="contact">
        <h3>Liên hệ</h3>
        <img src="../../../assets/images/truc-tong-dai.jpg" alt="truc tong dai">
        <h4>Hotline Đăng ký</h4>
        <a href="tel:0985999765" class="phone"><b>0985.999.765</b></a> ( Zalo )
        <div><b>Email:</b> <a href="#"> cskh@vietteltelecom-hanoi.vn</a></div>
        <div class="ho-tro-ky-thuat">
          <h4>Hỗ trợ kỹ thuật 24/7</h4>
          <a>1800 8000</a>
        </div>
      </div>
      <div class="side-menu">
        <h3>Tin tức</h3>
        <ul>
          <li *ngFor="let item of newsMenu" style="cursor: pointer" (click)="goToArticle(item.title,item.id,item.type)">
            <img src="../../../assets/images/new.gif" alt="New">{{item.title}}
          </li>
        </ul>
      </div>
      <!-- <div class="side-menu">
        <h3>Toàn Quốc</h3>
        <ul>
          <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
          <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
          <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
          <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
          <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
          <li><img src="../../../assets/images/new.gif" alt="New">Đăng ký Hóa đơn điện tử Viettel tại Cần Thơ 2019</li>
        </ul>
      </div> -->
      <div class="side-menu">
        <h3>Hỗ trợ kỹ thuật</h3>
        <ul>
          <li *ngFor="let item of supportMenu" style="cursor: pointer" (click)="goToArticle(item.title,item.id,item.type)">
            <img src="../../../assets/images/new.gif" alt="New">{{item.title}}</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="related-article">
    <h3>Bài viết liên quan</h3>
    <ul>
      <li><img src="../../../assets/images/new.gif" alt="New">Chữ ký số</li>
      <li><img src="../../../assets/images/new.gif" alt="New">Hóa đơn điện tử</li>
      <li><img src="../../../assets/images/new.gif" alt="New">Bảo hiểm xã hội</li>
      <li><img src="../../../assets/images/new.gif" alt="New">Di động trả sau</li>
      <li><img src="../../../assets/images/new.gif" alt="New">Liên hệ</li>
    </ul>
  </div> -->
</div>