<div id="top">
    <a class="main-logo" routerLink="/frontpage"></a>
      
  <div class="info">
   
  </div>
  <div class="visible-xs collapse-button" (click)="collapseButtonClick()">
    <div class="icon-bar"></div>
    <div class="icon-bar"></div>
    <div class="icon-bar"></div>
  </div>
</div>
<nav class="navbar" [ngClass]="{'collapsed': isCollapsed}">
  <ul class="nav navbar-nav">
      <li><a routerLink="/home" routerLinkActive="active-link">Trang chủ</a></li>
      <li >
      <!-- <li class="has-sub-menu"> -->
        <a routerLink="/chukyso" routerLinkActive="active-link">Chữ ký số</a>
        <!-- <ul>
          <li><a>Bong lan trung muoi</a></li>
          <li><a>Kho ga la chanh</a></li>
          <li><a>Banh ga to</a></li>
        </ul> -->
      </li>
      <li><a routerLink="/hoadondientu" routerLinkActive="active-link">Hóa đơn điện tử</a></li>
      <!-- <li><a routerLink="/price" routerLinkActive="active-link">Bảng giá</a></li> -->
      <li><a routerLink="/social-insurance" routerLinkActive="active-link">Bảo hiểm xã hội</a></li>
      <li><a routerLink="/price" routerLinkActive="active-link">Di động trả sau</a></li>
      <!-- <li><a routerLink="/#" routerLinkActive="active-link">D-COM</a></li> -->
      <li><a routerLink="/contact" routerLinkActive="active-link">Liên hệ</a></li>
  </ul>
</nav>