<pm-transclusion-container>
  <div *ngIf="!type else actionType">
    <div class="electrial-bill">
      <h2>Hóa đơn điện tử Viettel - Triển khai NHANH trong 24h</h2>
      <div class="luu-y2">
        <p>Nghị định 119/2018/NĐ-CP Chính phủ&nbsp;ban hành ngày 12/09/2018 quy định <strong>bắt buộc 100% Doanh nghiệp
            mới thành lập bắt buộc PHẢI sử dụng Hóa Đơn Điện Tử&nbsp;</strong>và doanh nghiệp đang sử dụng hóa đơn giấy
          thì chỉ được phép sử dụng cho tới ngày 01/01/2020.</p>
        <p><strong>Dịch vụ hóa đơn điện tử SInvoice của Viettel</strong> cung cấp giải pháp quản lý hóa đơn trên nền
          điện tử cho doanh nghiệp. Hóa đơn được khởi tạo, lập, gửi, nhận, lưu trữ và quản lý bằng phương tiện điện tử;
          được ký bằng chữ ký điện tử (ký số), có giá trị về mặt pháp lý như hóa đơn giấy thông thường; có thể chuyển
          đổi thành hóa đơn giấy khi có nhu cầu.</p>
      </div>

      <h3>QUY TRÌNH ĐĂNG KÝ VÀ SỬ DỤNG HÓA ĐƠN ĐIỆN TỬ</h3>
      <!-- <img [src]="'quy-trinh-dang-ky-hoa-don-dien-tu.png'" alt="chu ky so viettel" width="800" height="578"> -->
      <div class="image process"></div>

      <h3>BẢNG GIÁ HÓA ĐƠN TIỆN TỬ VIETTEL</h3>
      <p>Tập Đoàn Viettel xin kính gửi tới quý khách hàng bảng giá đăng ký triển khai dịch vụ Hóa Đơn Điện Tử năm 2019
        như sau:</p>
      <!-- <h4>1. Phí Khởi Tạo</h4>
      <p>Phí khởi tạo dịch vụ Hóa Đơn Điện Tử là 1.000.000 đ (Áp dụng 1 lần duy nhất / mọi gói cước)</p>
      <h4>Phí gói cước</h4> -->
      <table style="width: 100%;" border="1" cellspacing="1" class="table table-bordered">
        <tbody>
          <tr>
            <td style="text-align: center;font-size: 15px"><strong>Gói cước</strong></td>
            <td style="text-align: center;font-size: 15px"><strong>Số lượng hóa đơn</strong></td>
            <td style="text-align: center;font-size: 15px"><strong>Giá (Chưa VAT)</strong></td>
          </tr>
          <tr>
            <td style="text-align: center"><strong>DT300</strong></td>
            <td style="text-align: right;"><strong>300</strong></td>
            <td style="text-align: right;"><strong>297.000 đ</strong></td>
          </tr>
          <tr>
            <td style="text-align: center"><strong>DT500</strong></td>
            <td style="text-align: right;"><strong>500</strong></td>
            <td style="text-align: right;"><strong>410.000 đ</strong></td>
          </tr>
          <tr>
            <td style="text-align: center"><strong>DT1.000</strong></td>
            <td style="text-align: right;"><strong>1000</strong></td>
            <td style="text-align: right;"><strong>640.000 đ</strong></td>
          </tr>
          <tr>
            <td style="text-align: center">DT2.000</td>
            <td style="text-align: right;">2.000</td>
            <td style="text-align: right;">960.000 đ</td>
          </tr>
          <tr>
            <td style="text-align: center">DT3.000</td>
            <td style="text-align: right;">3.000</td>
            <td style="text-align: right;">1.350.000 đ</td>
          </tr>
          <tr>
            <td style="text-align: center">DT5.000</td>
            <td style="text-align: right;">5.000</td>
            <td style="text-align: right;">2.050.000 đ</td>
          </tr>
          <tr>
            <td style="text-align: center">DT7.000</td>
            <td style="text-align: right;">7.000</td>
            <td style="text-align: right;">2.730.000 đ</td>
          </tr>
          <tr>
            <td style="text-align: center">DT10.000</td>
            <td style="text-align: right;">10.000</td>
            <td style="text-align: right;">3.400.000 đ</td>
          </tr>
          <tr>
            <td style="text-align: center">DT20.000</td>
            <td style="text-align: right;">20.000</td>
            <td style="text-align: right;">5.800.000 đ</td>
          </tr>
          <tr>
            <td style="text-align: center">DT-max</td>
            <td style="text-align: right;">1.000.000</td>
            <td style="text-align: right;">290.000.000</td>
          </tr>
        </tbody>
      </table>
      <p style="margin-top: 10px;font-style: italic">Phí khởi tạo ban đầu : 500.000đ ( thanh toán 1 lần )</p>
      <h3>Lưu ý</h3>
      <ul>
        <li>Bảng giá trên chưa bao gồm 10% VAT</li>
        <li>Miễn phí thiết kế hóa đơn</li>
        <li>Hỗ trợ thủ tục với cơ quan Thuế</li>
        <li>Đặc biệt: Không giới hạn thời gian sử dụng hóa đơn</li>
      </ul>
      <div class="image process-1"></div>
      <div class="luu-y2">
        <h2><strong><a id="thu-tuc-dang-ky"></a>THỦ TỤC TRIỂN KHAI HÓA ĐƠN ĐIỆN TỬ</strong></h2>
        <p><strong>1. Khách hàng cần chuẩn bị những giấy tờ sau:</strong></p>
        <p>Khách hàng chụp ảnh gửi qua Email đăng ký dịch vụ: <span id="cloak2cb16229ece54fdcdc49f71f84dd5d57"><a
              href="mailto:cskh@vietteltelecom-hanoi.vn" style="color: #000;
              text-decoration: underline;font-weight: 700">cskh@vietteltelecom-hanoi.vn</a></span>
          <script type="text/javascript">
            document.getElementById('cloak2cb16229ece54fdcdc49f71f84dd5d57').innerHTML = '';
            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
            var path = 'hr' + 'ef' + '=';
            var addy2cb16229ece54fdcdc49f71f84dd5d57 = 'd&#97;ngky' + '&#64;';
            addy2cb16229ece54fdcdc49f71f84dd5d57 = addy2cb16229ece54fdcdc49f71f84dd5d57 + 'c&#97;v&#105;&#101;tt&#101;l' + '&#46;' + 'c&#111;m';
            var addy_text2cb16229ece54fdcdc49f71f84dd5d57 = 'd&#97;ngky' + '&#64;' + 'c&#97;v&#105;&#101;tt&#101;l' + '&#46;' + 'c&#111;m'; document.getElementById('cloak2cb16229ece54fdcdc49f71f84dd5d57').innerHTML += '<a ' + path + '\'' + prefix + ':' + addy2cb16229ece54fdcdc49f71f84dd5d57 + '\'>' + addy_text2cb16229ece54fdcdc49f71f84dd5d57 + '<\/a>';
          </script> </p>
          <!-- hoặc Zalo số <strong>0985.999.765</strong>&nbsp;các loại giấy tờ sau:</p> -->
          <p>Liên hệ: <a style="color: #00918d" href="tel:0985999765"><strong>0985 999 765</strong></a> (<a style="color: #00918d"
            href="http://zalo.me/0985999765">Zalo</a> <a href="http://zalo.me/0985999765"><img
              src="https://www.caviettel.com/images/zalo-icon.png" alt="zalo icon" width="40" height="40"></a>)<a
            href="tel:0985999765"><strong><br></strong></a>các loại giấy tờ sau: </p>
        <p>+ 1 Chụp ảnh Giấy đăng ký kinh doanh&nbsp;</p>
        <p>+ 2 Chụp ảnh CMND / Thẻ Căn Cước của người đại diện pháp luật</p>
        <p><strong>2. Ký kết hợp đồng &amp; Thống nhất Mẫu Hóa Đơn</strong></p>
        <p>+ Nhân viên Viettel sẽ qua gặp trực tiếp ký hợp đồng</p>
        <p>+ Thống nhất - Thiết kế mẫu hóa đơn điện tử theo yêu cầu</p>
        <p><strong>3. Viettel sẽ tiến hàng cung cấp hóa đơn điện tử Viettel cho khách hàng.</strong></p>
        <p>+ Thời gian Viettel cung cấp dịnh vụ và bàn giao trong vòng 24 giờ.</p>
        <p><strong>4. Nhân viên Viettel sẽ tiến hành bàn giao cho khách hàng:</strong></p>
        <p>+ Tài khoản truy cập hệ thống Einvoice Viettel.</p>
        <p>+ 1 Giấy chứng nhận sử dụng hóa đơn điện tử Viettel.</p>
        <p>+ 1 Biên bản bàn giao hóa đơn điện tử Viettel.</p>
        <p>+ 1 Hóa đơn thuế VAT của Viettel.</p>
        <p>+ Nhân Viên Viettel trực tiếp cài đặt, hướng dẫn sử dụng và thanh toán trực tiếp.</p>
      </div>
      <div class="image process-2"></div>
      <p style="text-align: center;"><strong>TƯ VẤN GÓI CƯỚC GỌI NGAY</strong></p>
      <p style="text-align: center;"><a href="tel:0985999765"><img src="../../../assets/images/contact.png"
            alt="hotline" style="width: 50%"></a></p>
      <h2>HÓA ĐƠN ĐIỆN TỬ LÀ GÌ?</h2>
      <p>Hóa đơn điện tử hay còn gọi là hóa đơn điện tử có mã xác thực là một loại hóa đơn được cấp mã xác thực và số
        xác thực thông qua hệ thống xác thực của cơ quan thuế.</p>
      <p>Mã xác thực và số xác thực là chuỗi ký tự được mã hoá, cung cấp bởi hệ thống xác thực hoá đơn của Tổng cục Thuế
        dựa trên các thông tin hoá đơn của doanh nghiệp.</p>
      <p>Ngoài mã xác thực và số xác thực, trên hoá đơn xác thực còn có Mã QR là mã vạch hai chiều được hiển thị ở góc
        trên bên phải của hoá đơn xác thực. Người sử dụng có thể dùng các thiết bị điện tử có cài phần mềm đọc mã QR như
        điện thoại, máy tính bảng để đọc và kiểm tra nhanh các thông tin trên hoá đơn. Tuy vậy, những thông tin về hoá
        đơn của doanh nghiệp luôn được bảo mật cao.</p>
      <div class="image process-3"></div>
      <p>Hóa đơn điện tử phù hợp với hầu hết mọi quy mô doanh nghiệp, từ mô hình lớn cho tới mô hình nhỏ, chính vì thế
        doanh nghiệp chỉ cần hội đủ mốt số điều kiện đơn giản sau là đã có thể tiến hành khởi tạo và sử dụng hóa đơn
        điện tử nhanh chóng</p>
      <p>Hóa đơn điện tử đang dần thay thế hóa đơn giấy truyền thống trở thành cánh tay phải hỗ trợ đắc lực cho tổ chức
        doanh nghiệp.</p>
      <p>Sử dụng Hóa Đơn Điện Tử thay cho Hóa Đơn giấy mang lại nhiều lợi ích cho doanh nghiệp như: giảm chi phí giấy
        in, mực in, vận chuyển, lưu trữ Hóa Đơn…</p>
      <p>Doanh nghiệp không phải đăng ký mẫu Hóa Đơn Điện Tử , không phải gửi báo cáo tình hình sử dụng hóa đơn, giảm
        bớt thời gian lập Tờ khai thuế giá trị gia tăng vì phần mềm tạo hóa đơn tự động kết chuyển số liệu vào Tờ khai
        thuế giá trị gia tăng; khắc phục tình trạng làm mất, hỏng, cháy Hóa Đơn.</p>


      <h3>LỢI ÍCH KHI SỬ DỤNG HÓA ĐƠN ĐIỆN TỬ</h3>
      <p>Tiết kiệm thời gian: Giảm thiểu các thủ tục hành chính, lưu trữ. Tiết kiệm thời gian thực hiện phân tích, báo
        cáo. Có thể...</p>
      <p>Tiết kiệm chi phí: Giảm chi phí in ấn, gửi nhận hóa đơn cho khách hàng. Không mất chi phí lưu trữ, bảo quản.
      </p>
      <p>An toàn: Không thất lạc, rách, hỏng, cháy. Không thể làm giả hóa đơn.</p>
      <h3>DỊCH VỤ HÓA ĐƠN ĐIỆN TỬ CỦA VIETTEL</h3>
      <p>Dịch vụ hóa đơn điện tử của Viettel cung cấp giải pháp quản lý hóa đơn trên nền điện tử cho doanh nghiệp. Hóa
        đơn được khởi tạo, lập, gửi, nhận, lưu trữ và quản lý bằng phương tiện điện tử; được ký bằng chữ ký điện tử
        (ký
        số), có giá trị về mặt pháp lý như hóa đơn giấy thông thường; có thể chuyển đổi thành hóa đơn giấy khi có nhu
        cầu.</p>
      <p>Thương Hiệu Uy Tín: Viettel là Tập đoàn Viễn thông và Công nghệ thông tin lớn nhất Việt Nam, cam kết đồng
        hành
        lâu dài cùng doanh nghiệp.</p>
      <p>Hạ tầng mạng lớn, ổn định: Viettel là Tập đoàn Viễn thông và Công nghệ thông tin lớn nhất Việt Nam, cam kết
        đồng hành lâu dài cùng doanh nghiệp.</p>
      <p>Triển khai nhanh, chất lượng: Khởi tạo tài khoản cho Doanh nghiệp ngay sau khi ký hợp đồng. Viettel có các
        Trung tâm CNTT trên khắp 63 tỉnh thành...</p>
      <p style="text-align: center;"><img src="../../../assets/images/hoa-don-dien-tu-viettel-1.png"
          alt="hoa don dien tu viettel" style="width: 100%"></p>
    </div>
  </div>
  <ng-template #actionType>
    <app-sharing-data [id]="id" [type]="type"></app-sharing-data>
  </ng-template>
</pm-transclusion-container>