<div class="product-item-component col-sm-3">
    <div>
        <div class="image"></div>
        <div class="description">
            <h4>{{data.name}}</h4>
            <p><span class="title">Gia: </span><span class="info">85,000 d</span> </p>
            <p><span class="title">Sale off: </span><span class="info title">-10%</span> </p>
            <p><span class="title">Kich co: </span><span class="info">20cm x 15cm</span> </p>
            <p><span class="title">Tinh trang: </span><span class="info">Con hang</span> </p>
        </div>
    </div>
</div>