@import '../../../scss/mixin.scss';
.product-item-component {
    position: relative;
    bottom: 0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    @media (max-width: $screen-xs-max) {
      margin-bottom: 20px;
    }
    &:hover {
      bottom: 5px;
    }
    & > div {
      box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.1);
    }
    .image {
      height: 200px;
      background: grey;
    }
    .description {
      height: 150px;
      padding: 15px;
      font-size: $font-size-6;
      p {
        margin-bottom: 0;
      }
      h4 {
        margin-top: 0;
      }
      .title {
        color: $primary-color;
        font-weight: bold;
      }
      .info {
        float: right;
        color: #ccc;

        &.title {
          color: $primary-color;
          font-weight: bold;
        }
      }
    }
}