@import '../../../scss/mixin.scss';
.map-component {
  margin-top: 40px;
  margin-bottom: 60px;
  agm-map {
    height: 360px;
  }
  .button {
    display: inline-block;
    padding: 5px 30px;
    color: #fff;
    background: $primary-color;
    cursor: pointer;
  }
  .item {
    &.active {
      border: solid 1px #000;
      background: $primary-color;
      color: #fff;
    }
    padding: 15px;
    margin-top: 20px;
    h3 {
      margin-top: 10px;
    }
    i{
      padding: 10px;
    }
  }
}