table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;

  thead {
    color: #fff;
  }

  th {
    font-size: 24px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  &.bordered {
    border-color: red;
    td, th {
      border: solid 1px red;
    }
  }
}