<div class="frontpage-content row">
  <!-- <div class="introduce-boxes row">
      <div class="col-sm-4 ">
          <a class="frontpage-box signature" routerLink="/digital-signature">
              <h2>CHỮ KÝ SỐ</h2>
              <p>Uy tin nhu nao viet vao day, Uy tin nhu nao viet vao day, Uy tin nhu nao viet vao day, Uy tin nhu nao viet vao day, Uy tin nhu nao viet vao day</p>
              <a>Tìm hiểu thêm</a>
          </a>
        </div>  
        <div class="col-sm-4">
            <a class="frontpage-box bill" routerLink="/electric-bill">
                <h2>HÓA ĐƠN ĐIỆN TỬ</h2>
                <p>Uy tin nhu nao viet vao day, Uy tin nhu nao viet vao day, Uy tin nhu nao viet vao day, Uy tin nhu nao viet vao day, Uy tin nhu nao viet vao day</p>
                <a>Tìm hiểu thêm</a>
            </a>
        </div>
        <div class="col-sm-4">
            <a class="frontpage-box sub-price" routerLink="/price">
                <h2>DI ĐỘNG TRẢ SAU</h2>
                <p>Uy tin nhu nao viet vao day, Uy tin nhu nao viet vao day, Uy tin nhu nao viet vao day, Uy tin nhu nao viet vao day, Uy tin nhu nao viet vao day</p>
                <a>Tìm hiểu thêm</a>
            </a>
        </div>
  </div> -->
  <div class="definition">
    <h2 CLASS="main-header"><b>CHỮ KÝ SỐ LÀ GÌ</b></h2>
    <div class="row">
        <div class="col-sm-6 column text">
            <p>Chữ ký số Viettel là một dạng chữ ký điện tử. Đối với doanh nghiệp, nó có vai trò như một con dấu và được thừa nhận về mặt pháp lý. Chữ ký số được coi là phương án giải quyết tốt nhất mọi vấn đề khi giao dịch trên môi trường internet và còn được ứng dụng vào nhiều lĩnh vực bảo mật cao khác.
    
                Với việc đăng ký một chữ ký số Viettel duy nhất quý khách có thể sử dụng trong tất cả giao dịch điện tử phổ biển hiện nay như: Kê khai - Nộp thuê điên tử, Hải Quan, Bảo Hiểm Xã Hội, Bảo Hiểm Y Tế, Ký hợp đồng giao dịch...</p>
            
        </div>
        <div class="col-sm-6 phone column">
            <h3>HOTLINE ĐĂNG KÝ </h3>
            <a href="tel:0985999765"><i></i>0985999765</a>
        </div>
    </div>
  </div>
  <div class="price">
    <h2 class="sub-header"><b>BẢNG GIÁ CHỮ KÝ SỐ VIETEL</b></h2>
    <table>
      <tr>
        <th colspan="2">Goi cuoc</th>
        <th>1 nam</th>
        <th>2 nam</th>
        <th>3 nam</th>
      </tr>
      <tr>
          <td colspan="2">Gia co VAT tren hoa don</td>
          <td>1,000,000</td>
          <td>1,000,000</td>
          <td>1,000,000</td>
      </tr>
      <tr>
          <td colspan="2">Gia truc tiep</td>
          <td>1,000,000</td>
          <td>1,000,000</td>
          <td>1,000,000</td>
      </tr>
    </table>
    <div class="notice">
      <h3>Lưu ý</h3>
      <ul>
        <li>Báo giá trên đã bao gồm VAT và USB Token</li>
        <li>Trực tiếp nhân viên Viettel qua ký hợp đồng, triển khai dịch vụ (Hợp đồng, Hóa đơn Viettel đầy đủ). KHÔNG qua Đại lý hay Trung gian </li>
      </ul>
    </div>
  </div>
  <div class="procedure">
    <div class="row">
      <div class="col-sm-6 picture-column">
        <div class="picture"></div>
      </div>
      <div class="col-sm-6 content-column">
        <div class="content">
          <h3 class="sub-header"><b>QUY TRÌNH ĐĂNG KÝ CHỮ KÝ SỐ VIETTEL - CA</b> </h3>
          <h4><b>Gửi trước 3 thông tin sau qua Email</b></h4>
          <ul>
            <li>Quý khách Chụp ảnh hoặc Scan giấy phép kinh doanh và CMND của người đại điện pháp luật gửi về Email dangky@caviettel.com hoặc qua Zalo số 0972 411 888 để chúng tôi soạn hợp đồng, đăng ký triển khai dịch vụ.</li>
            <li>Lựa chọn gói cước đăng ký (1 năm, 2 năm hay 3 năm)?</li>
            <li>Cung cấp số điện thoại liên hệ và địa chỉ khi Nhân viên Viettel qua làm hợp đồng và bàn giao USB Token</li>
          </ul>
          <h4>Thực hiện triển khai - Bàn giao USB Token trong ngày cho khách hàng !!!</h4>
          <br>
          <h4><b>Nhân viên Viettel sẽ tiến hành bàn giao cho khách hàng:</b></h4>
          <ul>
            <li>Thiết bị USB Token Chữ Ký Số Viettel.</li>
            <li>Giấy chứng nhận sử dụng Chữ Ký Số Viettel.</li>
            <li>Biên bản bàn giao Chữ Ký Số Viettel.</li>
            <li>Hóa đơn thuế VAT của Viettel.</li>
            <li>Hợp đồng Chữ ký số.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
