<pm-transclusion-container>
  <div *ngIf="!type else actionType">
    <div>
      <h2 class="uk-article-title entry-title">Khuyến mãi khi hòa mạng trả sau Viettel mới tháng 8/2019</h2>
      <p>Nhu cầu hòa mạng trả sau của quý khách hàng Viettel đang ngày càng tăng cao, nhằm giúp quý khách hàng có thật
        nhiều lợi ích khi lựa chọn hòa mạng trả sau Viettel, từ tháng 8/2019 nhà mạng Viettel triển khai chương trình
        khuyến mãi hấp dẫn cho thuê bao trả sau Viettel hòa mạng mới.</p>
      <p>Thuê bao trả sau Viettel hòa mạng thành công sẽ được ưu đãi Free gọi thoại 60p đầu tất cả các cuộc gọi nội mạng
        và sử dụng 3G , 4G Viettel miễn phí với các gói Mimax200, Umax300 hoặc tặng dung lượng đến 60GB/ tháng . Đây là
        ưu đãi hết sức thiết thực giúp các thuê bao thỏa mái kết nối với bạn bè và người thân, đồng thời tận hưởng tiện
        ích giải trí trên internet với dịch vụ 4G & 3G Viettel tốc độ cao. Bạn có muốn tận hưởng những ưu đãi hấp dẫn
        trên của Viettel không? Nhanh tay hòa mạng ngay trả sau Viettel ngay hôm nay nhé.</p>
      <img src="../../../assets/images/khuyen-mai-hoa-mang-tra-sau.jpg" alt="khuyen mai hoa mang tra sau">
      <h2>Khuyến mãi hòa mạng trả sau Viettel mới tháng 8/2019:</h2>
      <p>– Thời gian triển khai: Bắt đầu từ tháng 8/2019</p>
      <p>– Phạm vi áp dụng: Chương trình khuyến mãi trả sau cho thuê bao Viettel hòa mạng trả sau trên phạm vi toàn quốc
      </p>
      <p>– Đối tượng áp dụng:</p>
      <p> Đối tượng 1: Thuê bao di động trả sau hòa mạng mới; Thuê bao chuyển mạng giữ nguyên số tham gia gói cước
        Basic+, Family, Corporate sẽ được lựa chọn tham gia tất cả các chương trình ưu đãi</p>
      <p>Đối tượng 2: Thuê bao di động trả trước kích hoạt ≥ 30 ngày, chuyển đổi sang trả sau, tham gia gói cước Basic+,
        Family, Corporate và có tiêu dùng bình quân 3 tháng liền trước tháng chuyển đổi thỏa mãn 1 trong các điều kiện
        sau sẽ được tham gia các gói tương ứng:</p>
      <p>Thuê bao có tiêu dùng bình quân 3 tháng liền trước tháng chuyển đổi <200.000đ sẽ được tham gia tất cả các gói
          trả sau.</p> <p>– Thuê bao có tiêu dùng bình quân 3 tháng liền kề trước tháng chuyển đổi từ 200.000đ đến
          300.000đ sẽ được tham gia các gói trả sau có cước phí từ 150,000đ trở lên .</p>
      <p>– Thuê bao có tiêu dùng bình quân 3 tháng liền kề trước tháng chuyển đổi từ 300.000đ đến 500.000đ sẽ được tham
        gia các gói trả sau có cước phí từ 250,000đ trở lên .</p>
      <p>– Thuê bao có tiêu dùng bình quân 3 tháng liền kề trước tháng chuyển đổi từ 500.000đ đến 1000.000đ sẽ được tham
        gia các gói trả sau có cước phí từ 500,000đ trở lên .</p>
      <p>– Thuê bao có tiêu dùng bình quân 3 tháng liền kề trước tháng chuyển đổi từ 1000.000đ sẽ được tham gia các gói
        trả sau có cước phí từ 1000.000đ trở lên.</p>
      <h2>Thông tin các gói trả sau áp dụng cho thuê bao hòa mạng mới và thuê bao chuyển mạng giữ số tháng 8/2019 </h2>
      <table class="uk-table uk-table-striped table-bordered">
        <tbody>
          <tr>
            <td><b>Chương trình</b></td>
            <td><b>Phí / tháng</b></td>
            <td><b>Cước thuê bao tháng</b></td>
            <td><b>Nội dung ưu đãi</b></td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">T80</span></td>
            <td><span style="font-weight: 400;">80,000đ</span></td>
            <td><span style="font-weight: 400;">0đ</span></td>
            <td><span style="font-weight: 400;">–&nbsp; 300 phút thoại nội mạng</span></td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">T100</span></td>
            <td><span style="font-weight: 400;">100.000đ</span></td>
            <td><span style="font-weight: 400;">0đ</span></td>
            <td><span style="font-weight: 400;">– 1.000 phút thoại nội mạng + 10 phút thoại ngoại mạng</span></td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">T100X</span></td>
            <td><span style="font-weight: 400;">100,000đ</span></td>
            <td><span style="font-weight: 400;">0đ</span></td>
            <td><span style="font-weight: 400;">– 200 phút thoại nội mạng + 50 phút liên mạng </span></td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">B100</span></td>
            <td><span style="font-weight: 400;">100,000đ</span></td>
            <td></td>
            <td><span style="font-weight: 400;">– 200 phút thoại nội mạng + 3GB (Hết lưu lượng dừng truy cập)</span>
            </td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">T150</span></td>
            <td><span style="font-weight: 400;">150.000đ</span></td>
            <td><span style="font-weight: 400;">0đ</span></td>
            <td><span style="font-weight: 400;">–&nbsp; 1.000 phút thoại nội mạng + 100 phút thoại ngoại mạng</span>
            </td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">B150</span></td>
            <td><span style="font-weight: 400;">150.000đ</span></td>
            <td><span style="font-weight: 400;">0đ</span></td>
            <td><span style="font-weight: 400;">–&nbsp; 1000 phút thoại nội mạng </span>
              <p></p>
              <p><span style="font-weight: 400;">–&nbsp; 5GB data tốc độ cao (hết lưu lượng truy cập tốc độ
                  256Kbps)</span></p>
            </td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">T200</span></td>
            <td><span style="font-weight: 400;">200,000đ</span></td>
            <td><span style="font-weight: 400;">0đ</span></td>
            <td><span style="font-weight: 400;">– 2000 phút thoại nội mạng + 150 phút thoại liên mạng </span></td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">B200 </span></td>
            <td><span style="font-weight: 400;">200,000đ</span></td>
            <td><span style="font-weight: 400;">0đ</span></td>
            <td><span style="font-weight: 400;">– 2000 phút thoại nội mạng + 8GB lưu lượng data </span></td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">B250</span></td>
            <td><span style="font-weight: 400;">250.000đ</span></td>
            <td><span style="font-weight: 400;"> 0đ</span></td>
            <td><span style="font-weight: 400;">–&nbsp; Miễn phí 60 phút đầu tiên các cuộc gọi nội mạng + 50 SMS nội
                mạng &nbsp;</span>
              <p></p>
              <p><span style="font-weight: 400;">–&nbsp; 10GB data tốc độ cao (hết lưu lượng truy cập tốc độ
                  256Kbps)</span></p>
            </td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">B250X</span></td>
            <td><span style="font-weight: 400;">250.000đ</span></td>
            <td><span style="font-weight: 400;"> 0đ</span></td>
            <td><span style="font-weight: 400;">– Miễn phí 60 phút đầu tiên các cuộc gọi nội mạng &nbsp;+ 100 phút thoại
                ngoại mạng + 50SMS nội mạng </span>
              <p></p>
              <p><span style="font-weight: 400;">–&nbsp; 5GB data tốc độ cao (hết lưu lượng truy cập tốc độ
                  256Kbps)</span></p>
            </td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">B300</span></td>
            <td><span style="font-weight: 400;">300.000đ</span></td>
            <td><span style="font-weight: 400;">0đ</span></td>
            <td><span style="font-weight: 400;">– Miễn phí 60 phút đầu tiên các cuộc gọi nội mạng + 100 phút thoại ngoại
                mạng + 100 SMS nội mạng&nbsp;</span>
              <p></p>
              <p>–&nbsp;8GB data tốc độ cao (hết lưu lượng truy cập tốc độ 256Kbps)</p>
            </td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">B350</span></td>
            <td><span style="font-weight: 400;">350.000dd</span></td>
            <td><span style="font-weight: 400;">0đ</span></td>
            <td>&nbsp;– Miễn phí 60 phút đầu tiên các cuộc gọi nội mạng + 100 phút thoại ngoại mạng + 100 SMS nội mạng
              <p></p>
              <p><span style="font-weight: 400;">–&nbsp; 10GB data tốc độ cao (hết lưu lượng truy cập tốc độ
                  256Kbps)</span></p>
            </td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">B400</span></td>
            <td><span style="font-weight: 400;">400.000đ</span></td>
            <td><span style="font-weight: 400;"> 0đ</span></td>
            <td><span style="font-weight: 400;">–&nbsp; Miễn phí 60p đầu tiên/cuộc gọi nội mạng + 100 phút thoại ngoại
                mạng &nbsp;+ 100SMS nội mạng </span>
              <p></p>
              <p><span style="font-weight: 400;">–&nbsp; 15GB data tốc độ cao (hết lưu lượng truy cập tốc độ
                  256Kbps)</span></p>
            </td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">B500</span></td>
            <td><span style="font-weight: 400;">500.000đ</span></td>
            <td><span style="font-weight: 400;"> 0đ</span></td>
            <td><span style="font-weight: 400;">–&nbsp; Miễn phí 60p đầu tiên/cuộc gọi nội mạng + 200 phút thoại ngoại
                mạng + 200 SMS nội mạng </span>
              <p></p>
              <p><span style="font-weight: 400;">–&nbsp; &nbsp;Miễn phí không giới hạn lưu lượng, hết 30GB đầu, tốc độ
                  cao giới hạn về 1Mbps</span></p>
            </td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">B700</span></td>
            <td><span style="font-weight: 400;">700,000đ</span></td>
            <td><span style="font-weight: 400;">0đ</span></td>
            <td><span style="font-weight: 400;">– Miễn phí 60 phút gọi đầu các cuộc gọi nội mạng + 300 phút gọi liên
                mạng + 300 SMS nội mạng </span>
              <p></p>
              <p><span style="font-weight: 400;">– 15GB lưu lượng data tốc độ cao (hết lưu lượng truy cập tốc độ
                  256Kbps)</span></p>
            </td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">B1000</span></td>
            <td><span style="font-weight: 400;">1000.000đ</span></td>
            <td><span style="font-weight: 400;">0đ</span></td>
            <td><span style="font-weight: 400;">– Miễn phí 60 phút gọi đầu các cuộc gọi nội mạng + 500 phút gọi liên
                mạng + 500 SMS liên mạng trong nước </span>
              <p></p>
              <p><span style="font-weight: 400;">– &nbsp;Miễn phí không giới hạn lưu lượng, hết 30GB đầu, tốc độ cao
                  giới hạn về 1Mbps</span></p>
            </td>
          </tr>
          <tr>
            <td>B2000</td>
            <td>2000.000đ</td>
            <td>0đ</td>
            <td><span style="font-weight: 400;">– Miễn phí 60 phút gọi đầu các cuộc gọi nội mạng + 1000 phút gọi liên
                mạng + 1000 SMS liên mạng trong nước </span>
              <p></p>
              <p><span style="font-weight: 400;">– &nbsp;Miễn phí không giới hạn lưu lượng, hết 60GB đầu, tốc độ cao
                  giới hạn về 1Mbps</span></p>
            </td>
          </tr>
        </tbody>
      </table>
      <h3>
        Các gói mua thêm dung lượng cho thuê bao:
      </h3>
      <table style="width: 815px;" class="uk-table uk-table-striped table-bordered">
        <tbody>
          <tr style="height: 48px;">
            <td style="width: 233px; text-align: center; height: 48px;"><strong>Đối tượng </strong></td>
            <td style="width: 84px; text-align: center; height: 48px;"><strong>Tên gói mua thêm </strong></td>
            <td style="width: 66px; text-align: center; height: 48px;"><strong>Ưu đãi </strong></td>
            <td style="width: 161px; text-align: center; height: 48px;"><strong>Cách mua thêm </strong></td>
            <td style="width: 102px; text-align: center; height: 48px;"><strong>Giá cước </strong></td>
            <td style="width: 102px; text-align: center; height: 48px;"><strong>Chu kỳ</strong></td>
          </tr>
          <tr style="height: 48.25px;">
            <td style="width: 233px; text-align: center; height: 72.25px;" rowspan="2"><span
                style="font-weight: 400;">Thuê bao dùng gói B150, B250, B250X, B300, B350, B400, B500, B700, B1000,
                B2000&nbsp;</span></td>
            <td style="width: 84px; text-align: center; height: 48.25px;"><span style="font-weight: 400;">MT15</span>
            </td>
            <td style="width: 66px; text-align: center; height: 48.25px;"><span style="font-weight: 400;">1GB</span>
            </td>
            <td style="width: 161px; text-align: center; height: 48.25px;"><strong><span style="color: #ff0000;">MT15
                </span>gửi<span style="color: #0000ff;"> 191</span></strong></td>
            <td style="width: 102px; text-align: center; height: 48.25px;"><span
                style="font-weight: 400;">15.000đ</span></td>
            <td style="width: 102px; text-align: center; height: 48.25px;"><span style="font-weight: 400;">Đến hết tháng
                đăng ký</span></td>
          </tr>
          <tr style="height: 24px;">
            <td style="width: 84px; text-align: center; height: 24px;">MT5</td>
            <td style="width: 66px; text-align: center; height: 24px;">500MB</td>
            <td style="width: 161px; text-align: center; height: 24px;"><strong><span style="color: #ff0000;">MT5</span>
                gửi <span style="color: #0000ff;">191</span></strong></td>
            <td style="width: 102px; text-align: center; height: 24px;">5.000đ</td>
            <td style="width: 102px; text-align: center; height: 24px;">24h</td>
          </tr>
        </tbody>
      </table>
      <p>Hiện tại giá cước sử dụng cho dịch vụ di động trả sau Viettel rẻ hơn đến 40% cước sử dụng cho thuê bao trả
        trước. Chính vì vậy để tiết kiệm chi phí sử dụng nếu nhu cầu gọi thoại, nhắn tin hay truy cập 3G nhiều bạn nên
        chuyển đổi sang các gói cước trả sau Viettel để sử dụng.</p>
      <h2>Giá cước gọi thoại và nhắn tin các gói trả sau Viettel 2019</h2>
      <table style="height: 614px;" width="676" class="uk-table uk-table-striped table-bordered">
        <tbody>
          <tr>
            <td><b>Loại cước</b></td>
            <td><b>Giá cước</b></td>
          </tr>
          <tr>
            <td><b>Cước gọi: </b></td>
            <td><span style="font-weight: 400;">Đồng/phút</span></td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">Gọi nội mạng Viettel (Di động, Cố định)</span></td>
            <td><span style="font-weight: 400;">890</span></td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">Gọi ngoại mạng Viettel (Di động, Cố định)</span></td>
            <td><span style="font-weight: 400;">990</span></td>
          </tr>
          <tr>
            <td colspan="2"><b>Cước nhắn tin:</b></td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">SMS nội mạng trong nước</span></td>
            <td><span style="font-weight: 400;">300 đ/ bản tin</span></td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">SMS ngoại mạng trong nước</span></td>
            <td><span style="font-weight: 400;">350 đ/ bản tin</span></td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">SMS quốc tế</span></td>
            <td><span style="font-weight: 400;">2.500 đ/ bản tin</span></td>
          </tr>
          <tr>
            <td><span style="font-weight: 400;">Nhắn tin MMS</span></td>
            <td><span style="font-weight: 400;">300 đ/ bản tin</span></td>
          </tr>
        </tbody>
      </table>

      <h3>Thủ tục hòa mạng trả sau Viettel:</h3>
      <p>– Hòa mạng trả sau luôn là sự lựa chọn của những thuê bao Viettel có nhu cầu sử dụng nhiều, mỗi tháng bạn sẽ
        chỉ phải thánh toán cước phí sử dụng một lần duy nhất và được tận hưởng những ưu đãi riêng dành cho thuê bao trả
        sau. Bạn sẽ không phải lo gián đoạn cuộc gọi vì hết tiền trong tài khoản nữa.</p>
      <p>Qúy khách hàng có nhu cầu hòa mạng trả sau Viettel chỉ cần mang theo chứng minh nhân dân (CMND bản gốc + photo
        không cần công chứng) đến các cửa hàng điểm giao dịch Viettel gần nhất để được hướng dẫn hòa mạng. Mọi thắc mắc
        về chương trình khuyến mãi trả sau cho thuê bao hòa mạng mới Viettel, bạn hãy gọi tổng đài 198 để được hỗ trợ.
      </p>
      <p>Chúc các bạn hòa mạng thành công và sử dụng hiệu quả ưu đãi nhà mạng mang lại từ chương trình khuyến mãi cho
        thuê bao trả sau hòa mạng mới Viettel.</p>
    </div>
  </div>
  <ng-template #actionType>
    <app-sharing-data [id]="id" [type]="type"></app-sharing-data>
  </ng-template>
</pm-transclusion-container>