@import '../../../scss/mixin.scss';

.responsive-table {
  @media (max-width: 768px) {
    font-size: 12px;
  }

  @media (max-width: 320px) {
    font-size: 11px;
    &.smaller {
      font-size: 9px;
    }
  }
}

.frontpage {
  // .slideshow {
  //   background: url("../../assets/images/main-slide.jpg") center no-repeat;
  //   background-size: cover;
  //   height: 300px;
  //   margin-top: -20px;
  //   margin-left: -50%;
  //   margin-right: -50%;

  //   @media (max-width: $screen-xs-max) {
  //     margin-left: -30px;
  //     margin-right: -30px;
  //   }
  // }
  .slider-container {
    width: 70%;
    margin: 0 auto;

    .slider-show {
      width: 70%;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }
  }
  .features{
    .feature{
      text-align: center;
      .icon-box{
        width: 100px;
        height: 100px;
        img{
          margin-left: 170%;
          &:hover{
            opacity: .6;
          }
        }
      }
      .feature-description{
        transition: .5s;
      }
      // &:hover{
      //   .feature-description{
      //     position: absolute;
      //     z-index: 99;
      //     display: block;
      //     padding: 20px 20px;
      //     background: #ebebeb;
          
      
      //   }
      // }
    }
  }


}

.section.section-news {
  overflow: visible;
}

.section._even{
  margin-top: 20px;
  background-color: #eaeaea;
  padding: 20px;
  text-align: center;
  .item{
    img{
      width: 100px;
      height: 100px;
      margin: 0 auto;
      &:hover{
        opacity: .6;
      }
    }
    h4.title{
      &:hover{
        color: #22a0e4;
      }
    }
    p.content{

    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;

  thead {
    color: #fff;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  &.bordered {
    border-color: red;

    td,
    th {
      border: solid 1px red;
    }
  }
}

.image {
  width: 100%;
  height: 300px;
  background: url("../../../assets/images/viettel-ca.jpg") center no-repeat;
  background-size: cover;
  margin-top: 20px;

  &.digital-signature-image {
    background: url("../../../assets/images/hoa-don-dien-tu-viettel.png") center no-repeat;
    background-size: cover;
  }

}

img {
  margin-top: 20px;
}

.digital-signature {
  padding-bottom: 50px;
  line-height: 1.8;

  .luu-y {
    padding: 20px;
    background: #FFFDC9;
    border: solid 1px red;
    border-style: dashed;
    margin-top: 20px;
  }

  .showroom-main-adress {
    width: 100%;
    margin: 0px auto 30px;
    border-right: 1px solid rgb(234, 234, 234);
    background: #f2f2f2;

    .title-showroom {
      text-align: left;
      letter-spacing: -0.5px;
      padding: 13px 9px;
      background: #00a50e;
      font-size: 22px;
      font-weight: 600;
      font-family: Arial, Roboto, sans-serif;
      color: #fff;
      text-transform: uppercase;
    }

    .maproom2 {
      border-left: 7px solid #f47321;
      clear: both;
      padding: 10px 17px;
      color: #0071af;
      font-family: Roboto Condensed, Roboto, Arial, sans-serif;
      font-size: 18px;
      text-decoration: none !important;
      line-height: 30px;
    }

    .clcam {
      color: #f5680e;
      font-size: 21px;
    }

    .itext {
      font-size: 21px;
      margin: 0px 0;
      text-align: left;
      border-bottom: 1px dashed #d2d2d2;
    }
  }
}

a {
  color: #00918d;
}