<div class="frontpage">
    <div class="slider-container">
      <div class="row">
        <div class="col-md-9">
          <div class="slider-show">
            <div><img src="../../assets/images/slide1.jpg" title="Funky roots">
            </div>
            <div><img src="../../assets/images/slide2.jpg" title="The long and winding road"></div>
            <div><img src="../../assets/images/slide3.jpg" title="Happy trees">
            </div>
            <div><img src="../../assets/images/slide4.jpg" title="Happy trees">
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <img src="../../assets/images/right-slider.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="features child-justify-3">
      <div class="row">
        <div class="col-md-4">
          <div class="feature">
            <div class="icon-box hover11">
              <img class="img-responsive" src="http://viettel-ca.vn/media/images/ic_01.png" alt="Ảnh" width="100%"
                height="100%">
            </div>
            <h4>Thương hiệu Uy tín</h4>
            <span class="feature-description" style="overflow-wrap: break-word;">Sự lựa chọn hàng đầu của các doanh
              nghiệp, tổ
              chức</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <div class="icon-box hover11">
              <img class="img-responsive" src="http://viettel-ca.vn/media/images/ic_09.png" alt="Ảnh" width="100%"
                height="100%">
            </div>
            <h4>Chất lượng dịch vụ tốt nhất</h4>
            <span class="feature-description" style="overflow-wrap: break-word;">Giao dịch điện tử an toàn, tiết kiệm.
              Hỗ trợ 24/7 MIỄN PHÍ.</span>
  
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature">
            <div class="icon-box hover11">
              <img class="img-responsive" src="http://viettel-ca.vn/media/images/ic_15.png" alt="Ảnh" width="100%"
                height="100%">
            </div>
            <h4>Công nghệ nổi trội</h4>
            <span class="feature-description" style="overflow-wrap: break-word;">Đạt tiêu chuẩn quốc tế về bảo mật. Áp
              dụng
              các công nghệ mới nhất.</span>
  
          </div>
        </div>
      </div>
  
  
  
    </div>
  
    <section class="section section-features _even">
      <!-- <div class="container">
        <h2 class="section-title">Phần tất yếu của giao dịch điện tử</h2>
        <div class="section-subtitle">Giao dịch điện tử được đảm bảo an toàn tuyệt đối, thực hiện nhanh chóng</div>
  
        <div class="features child-justify-2">
          <div class="feature">
            <div class="icon-box hover11">
                <img class="img-responsive" src="http://viettel-ca.vn/media/images/ic_12.png" alt="Ảnh" width="100%" height="100%">
            </div>
            <h4>Bảo mật tuyệt đối</h4>
            <span class="feature-description" style="overflow-wrap: break-word;">Được phát triển bởi đội ngũ kỹ sư CNTT
              giỏi nhất.
              Hệ thống có nhiều lớp bảo mật cao cấp.</span>
            <div class="popover-more" style="display: none;">Được phát triển bởi đội ngũ kỹ sư CNTT giỏi nhất.
              Hệ thống có nhiều lớp bảo mật cao cấp.</div>
          </div>
          <div class="feature">
            <div class="icon-box hover11">
                <img class="img-responsive" src="http://viettel-ca.vn/media/images/ic_16.png" alt="Ảnh" width="100%" height="100%">
            </div>
            <h4>Hỗ trợ nhiều giao dịch điện tử</h4>
            <span class="feature-description" style="overflow-wrap: break-word;">Tích hợp vào nhiều dịch vụ, giao dịch
              điện tử: Kê khai thuế điện tử, Hải quan điện tử, Hóa đơn điện tử, BHXH điện... </span>
            <div class="popover-more" style="display: none;">Tích hợp vào nhiều dịch vụ, giao dịch điện tử: Kê khai thuế
              điện tử, Hải quan điện tử, Hóa đơn điện tử, BHXH điện tử, Ngân hàng số,...</div>
          </div>
        </div>
      </div> -->
      <h2 class="section-title">Phần tất yếu của giao dịch điện tử</h2>
      <div class="section-subtitle">Giao dịch điện tử được đảm bảo an toàn tuyệt đối, thực hiện nhanh chóng</div>
      <div class="row item" style="margin-top: 30px">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <img class="img-responsive" src="http://viettel-ca.vn/media/images/ic_12.png" alt="Ảnh" width="100%"
            height="100%">
          <h4 class="title">Bảo mật tuyệt đối</h4>
          <p class="content">Được phát triển bởi đội ngũ kỹ sư CNTT giỏi nhất.
            Hệ thống có nhiều lớp bảo mật cao cấp.</p>
        </div>
        <div class="col-md-3">
          <img class="img-responsive" src="http://viettel-ca.vn/media/images/ic_16.png" alt="Ảnh" width="100%"
            height="100%">
          <h4 class="title">Hỗ trợ nhiều giao dịch điện tử
          </h4>
          <p class="content">Tích hợp vào nhiều dịch vụ, giao dịch điện tử: Kê khai thuế điện tử, Hải quan điện tử, Hóa
            đơn điện tử, BHXH
            điện tử, Ngân hàng số,...
          </p>
        </div>
        <div class="col-md-3"></div>
  
      </div>
    </section>
    <div class="digital-signature">
      <div class="luu-y">
        <h2><strong>Chữ ký số là gì?</strong></h2>
        <p><strong>Viettel</strong> là một dạng chữ ký điện tử. Đối với doanh nghiệp, nó có vai trò như một con dấu và
          được thừa nhận về mặt pháp lý. Chữ ký số được coi là phương án giải quyết tốt nhất mọi vấn đề khi giao dịch
          trên môi trường internet và còn được ứng dụng vào nhiều lĩnh vực bảo mật cao khác.</p>
        <p>Với việc đăng ký một <strong><a>chữ ký số</a> Viettel</strong> duy nhất quý
          khách có thể sử dụng trong tất cả giao dịch điện tử phổ biển hiện nay như: Kê khai - Nộp thuê điên tử, Hải
          Quan, Bảo Hiểm Xã Hội, Bảo Hiểm Y Tế, Ký hợp đồng giao dịch...</p>
      </div>
      <p style="text-align: center;"><strong>TƯ VẤN GÓI CƯỚC GỌI NGAY</strong></p>
      <p style="text-align: center;"><a href="tel:0985999765"><img src="../../../assets/images/contact.png" alt="hotline"
            style="width: 40%"></a></p>
      <h2><a name="bang-gia"></a><strong>Bảng giá&nbsp;<a title="Đăng ký chữ ký số Viettel" target="_blank"
            rel="noopener noreferrer">Chữ ký số Viettel</a></strong>
      </h2>
      <table class="responsive-table smaller" style="width: 100%;" border="1" cellspacing="1" cellpadding="1">
        <tbody>
          <tr>
            <td style="width: 40%;">
              <p><strong>Gói cước</strong></p>
            </td>
            <td style="width: 15%;">
              <p><strong>1 Năm</strong></p>
            </td>
            <td style="width: 15%;">
              <p><strong>2 Năm</strong></p>
            </td>
            <td style="width: 15%;"><strong>3 năm</strong></td>
            <td style="width: 15%;"><strong>4 năm</strong></td>
          </tr>
          <tr>
            <td>
              <p>Giá đã có VAT ghi trên hóa đơn</p>
            </td>
            <td>
              <p><span style="text-decoration: line-through;"> 1,826,000 đ</span></p>
            </td>
            <td>
              <p><span style="text-decoration: line-through;">2,741,000 đ</span></p>
            </td>
            <td><span style="text-decoration: line-through;"> 3,109,000 đ</span></td>
            <td><span style="text-decoration: line-through;"> 3,110,000 đ</span></td>
          </tr>
          <tr>
            <td>Giá chiết khấu thực tế thanh toán</td>
            <td bgcolor="#FFCC00"><strong>1.500.000 đ</strong></td>
            <td bgcolor="#FFCC00"><strong>2.100.000 đ</strong></td>
            <td bgcolor="#FFCC00"><strong>2.180.000 đ</strong></td>
            <td bgcolor="#FFCC00"><strong>2.400.000 đ</strong></td>
          </tr>
        </tbody>
      </table>
      <h2 style="margin-top: 25px;"><a name="bang-gia"></a><strong>Bảng gia hạn&nbsp;<a title="Đăng ký chữ ký số Viettel"
            target="_blank" rel="noopener noreferrer">Chữ ký số Viettel</a></strong>
      </h2>
  
      <table style="width: 100%;" border="1" cellspacing="1" cellpadding="1">
        <tbody>
          <tr>
            <td style="width: 40%;">
              <p><strong>Gói cước</strong></p>
            </td>
            <td style="width: 20%;">
              <p><strong>1 Năm</strong></p>
            </td>
            <td style="width: 20%;">
              <p><strong>2 Năm</strong></p>
            </td>
            <td style="width: 20%;"><strong>3 năm</strong></td>
          </tr>
          <tr>
            <td>
              <p>Giá đã có VAT ghi trên hóa đơn</p>
            </td>
            <td>
              <p><span style="text-decoration: line-through;"> 1,276,000 đ</span></p>
            </td>
            <td>
              <p><span style="text-decoration: line-through;">2,191,000 đ</span></p>
            </td>
            <td><span style="text-decoration: line-through;"> 2,909,000 đ</span></td>
          </tr>
          <tr>
            <td>Giá chiết khấu thực tế thanh toán</td>
            <td bgcolor="#FFCC00"><strong>1.100.000 đ</strong></td>
            <td bgcolor="#FFCC00"><strong>1.750.000 đ</strong></td>
            <td bgcolor="#FFCC00"><strong>2.100.000 đ</strong></td>
          </tr>
        </tbody>
      </table>
  
      <div class="luu-y">
        <p><strong>Lưu ý</strong>:</p>
        <p>- Báo giá trên đã bao gồm VAT và USB Token</p>
        - <strong>Trực tiếp nhân viên Viettel qua ký hợp đồng, triển khai dịch vụ</strong> (Hợp đồng, Hóa đơn Viettel
        đầy đủ). <strong>KHÔNG</strong> qua Đại lý hay Trung gian&nbsp;
      </div>
      <p><strong><img title="Download chữ ký số" src="https://www.caviettel.com/images/download/download-chukyso.jpg"
            alt="Download chữ ký số">&nbsp;Đối với Doanh Nghiệp MỚI thành lập thì cần Đăng ký luôn thêm <a
            [routerLink]="['/hoadondientu']">Dịch vụ Hóa Đơn Điện Tử</a> </strong>&lt;<a [routerLink]="['/hoadondientu']">Xem
          chi tiết tại đây</a>...&gt;</p>
      <h4><strong>Hotline Đăng Ký</strong></h4>
      <p>Liên hệ: <a href="tel:0985999765"><strong>0985 999 765</strong></a> (<a href="http://zalo.me/0985999765">Zalo</a>
        <a href="http://zalo.me/0985999765"><img src="https://www.caviettel.com/images/zalo-icon.png" alt="zalo icon"
            width="40" height="40"></a>)<a href="tel:0985999765"><strong><br></strong></a></p>
      <p>Email: <span id="cloak804d9c7c00d5d503e1b784acf17d2528"><a
            href="mailto:cskh@vietteltelecom-hanoi.vn">cskh@vietteltelecom-hanoi.vn</a></span></p>
      <p><strong>Hỗ trợ kỹ thuật </strong>gọi: <span style="font-size: 14pt;"><strong>1800 8000</strong></span></p>
      <div class="luu-y">
        <h2><strong><a name="thu-tuc-dang-ky"></a>Quy trình đăng ký chữ ký số Viettel - CA</strong></h2>
        <p><strong>Bước 1. Gửi trước 3 thông tin sau qua Email</strong></p>
        <p>1. Quý khách <strong>Chụp ảnh</strong> hoặc <strong>Scan</strong> giấy phép kinh doanh và CMND của người đại
          điện pháp luật gửi về Email<strong> <span id="cloakee45fdf24f8a0254c6526f3552f7bdd0"><a
                href="mailto:cskh@vietteltelecom-hanoi.vn"> cskh@vietteltelecom-hanoi.vn</a></span>
            <script type="text/javascript">
              document.getElementById('cloakee45fdf24f8a0254c6526f3552f7bdd0').innerHTML = '';
              var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
              var path = 'hr' + 'ef' + '=';
              var addyee45fdf24f8a0254c6526f3552f7bdd0 = 'd&#97;ngky' + '&#64;';
              addyee45fdf24f8a0254c6526f3552f7bdd0 = addyee45fdf24f8a0254c6526f3552f7bdd0 + 'c&#97;v&#105;&#101;tt&#101;l' + '&#46;' + 'c&#111;m';
              var addy_textee45fdf24f8a0254c6526f3552f7bdd0 = 'd&#97;ngky' + '&#64;' + 'c&#97;v&#105;&#101;tt&#101;l' + '&#46;' + 'c&#111;m'; document.getElementById('cloakee45fdf24f8a0254c6526f3552f7bdd0').innerHTML += '<a ' + path + '\'' + prefix + ':' + addyee45fdf24f8a0254c6526f3552f7bdd0 + '\'>' + addy_textee45fdf24f8a0254c6526f3552f7bdd0 + '<\/a>';
            </script> hoặc qua Zalo số 0985 999 765&nbsp;</strong>để chúng tôi soạn hợp đồng, đăng ký triển
          khai dịch vụ.</p>
        <p>2. Lựa chọn gói cước đăng ký (1 năm, 2 năm hay 3 năm)?</p>
        <p>3. Cung cấp số điện thoại liên hệ và địa chỉ khi Nhân viên Viettel qua làm hợp đồng và bàn giao USB Token</p>
        <p><strong>=&gt; Thực hiện triển khai - Bàn giao USB Token trong ngày cho khách hàng</strong></p>
        <strong>Nhân viên Viettel sẽ tiến hành bàn giao cho khách hàng:</strong>
        <p>1. Thiết bị USB Token Chữ Ký Số Viettel.</p>
        <p>2. Giấy chứng nhận sử dụng Chữ Ký Số Viettel.</p>
        <p>3. Biên bản bàn giao Chữ Ký Số Viettel.</p>
        <p>4. Hóa đơn thuế VAT của Viettel.</p>
        <p>5. Hợp đồng Chữ ký số.</p>
      </div>
  
      <img src="../../../assets/images/chu-ky-so-viettel.png" alt="chu ky so viettel" style="width: 100%" height="578">
  
      <table class="pure-table pure-table-bordered bordered" style="width: 100%;">
        <thead>
          <tr>
            <th bgcolor="#FF6600"><span class="style1">LỢI ÍCH KHI ĐĂNG KÝ TẠI WWW.CAVIETTEL.COM</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>1. Trực tiếp Trung tâm, nhân viên Viettel, không qua đại lý hay trung gian</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>2. Thủ tục đăng ký chữ ký số Viettel nhanh gọn, hoàn thành bàn giao trong ngày</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>3. Có <span style="color: #ff0000;"><strong>hợp đồng, hóa đơn Viettel</strong></span> ngay sau khi bàn
                giao dịch vụ chữ ký số Viettel</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>4. Ký hợp đồng, cài đặt, hướng dẫn sử dụng chữ ký số Viettel tận nơi</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>5. Dịch vụ chữ ký số Viettel Uy tín - Ổn định số 1 hiện nay</p>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <div class="image digital-signature-image"></div>
        <p style="margin-top: 30px"><strong>TÌM HIỂU THÊM VỀ CHỮ KÝ SỐ</strong></p>
        <p><strong><a title="Chữ ký số Viettel" href="https://www.caviettel.com/" target="_blank"
              rel="noopener noreferrer">Chữ ký số Viettel</a>&nbsp;</strong>là dịch vụ được sử dụng trong các giao dịch
          điện tử nhằm xác định danh tính của người ký, đảm bảo tính toàn vẹn và giá trị pháp lý của các giao dịch điện
          tử. Ứng dụng này giúp việc thực hiện các giao dịch từ xa qua Internet trở nên dễ dàng, đơn giản và bảo mật.
        </p>
        <p>Theo Điểm 4 Luật số 21/2012/QH13, Luật Quản lý thuế số 78/2006/QH11 đã bổ sung thêm Khoản 10 vào Điều 7 được
          áp dụng từ 1/7/2013 về việc sử dụng <strong>chữ ký số cho doanh nghiệp</strong>. Theo đó, từ 1/7/2013 bắt buộc
          tất cả các doanh nghiệp phải sử dụng chữ ký số để kê khai thuế qua mạng.</p>
        <p>Bộ Tài chính cũng ban hành Quyết định số 2341/QĐ-BTC chính thức bắt buộc sử dụng chữ ký số đã đăng ký với cơ
          quan hải quan khi thực hiện các thủ tục hải quan điện tử, áp dụng đối với tất cả các doanh nghiệp trên toàn
          quốc áp dụng từ 01/11/2013.</p>
        <p style="text-align: justify;"><span style="color: #ff0000;"><strong>Như vậy, khi nộp thuế qua mạng, kê khai
              BHXY, BHYT hoặc sử dụng hải quan điện tử các doanh nghiệp, tổ chức phải sử dụng chữ ký số</strong></span>
        </p>
        <p><a title="Chữ ký số Viettel-CA" href="https://www.caviettel.com/" target="_blank"
            rel="noopener noreferrer"><strong>Chữ ký số Viettel-CA</strong></a> được đánh giá là dịch vụ chữ ký số tốt,
          ổn định, hỗ trợ kỹ thuật 24/7 và được nhiều công ty, tổ chức tin tưởng sử dụng nhiều nhất hiện nay.</p>
      </div>
      <div class="image"></div>
      <div style="margin-top: 20px">
        <h4><strong>ỨNG DỤNG CỦA CHỮ KÝ SỐ VIETTEL - CA</strong></h4>
        <ul>
          <li>
            Chữ ký số Viettel có thể sử dụng trong các giao dịch thư điện tử, e-mail, mua bán trực tuyến, giao dịch
            chứng khoán trực tuyến, giao dịch ngân hàng trực tuyến;
          </li>
          <li>Chữ ký số Viettel sử dụng trong các dịch vụ hành chính công điện tử như : kê khai thuế, khai hải quan trực
            tuyến, xin các giấy phép - giúp doanh nghiệp tiết kiệm thời gian, chi phí giao dịch;</li>
          <li>Chữ ký số Viettel còn được các doanh nghiệp, cá nhân sử dụng trong các giao dịch điện tử khác như ký hợp
            đồng, ký kết văn bản thỏa thuận, kinh doanh trực tuyến.</li>
          <li>Tất cả các gói cước đã bao gồm Token</li>
        </ul>
  
        <img style="width: 100%" src="https://www.caviettel.com/images/chu-ky-so-viettel-gia-re.jpg" alt="">
  
  
      </div>
  
      <table class="pure-table pure-table-bordered bordered" style="width: 100%;">
        <thead>
          <tr>
            <th bgcolor="#FF6600"><span class="style1">ƯU ĐIỂM CHỮ KÝ SỐ VIETTEL</span></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p>1. Chính hãng 100% - Viettel trực tiếp triển khai</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>2. Bảo hành trọn đời, hỗ trợ kỹ thuật tận nơi</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>3. Được tin dùng bởi hơn 200.000 doanh nghiệp cả nước ( &gt;50% thị phần)</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>4. Hơn 1000 kỹ sư CNTT chuyên nghiệp phát triển</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>5. Kế thừa 20 năm kinh nghiệm phát triển các sản phẩm giải pháp CNTT</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>6. Có 4 Data Center lớn nhất Đông Nam Á</p>
            </td>
          </tr>
        </tbody>
      </table>
      <p style="text-align: center;"><a href="tel:0985999765"><img src="../../../assets/images/contact.png" alt="hotline"
            style="width: 40%"></a></p>
      <!-- <div class="showroom-main-adress">
        <div class="title-showroom">
          <span class="httt">Hệ Thống Trung Tâm Chữ Ký Số Viettel Toàn Quốc</span>
        </div>
        <div class="maproom2">
          <p class="itext"><span class="clcam">Hà Nội:</span> 521 Lạc Long Quân, Tây Hồ</p>
        </div>
        <div class="maproom2">
          <p class="itext"><span class="clcam">Tp Hồ Chí Minh:</span> 285 Đường Cách Mạng Tháng 8, P15, Quận 10</p>
        </div>
        <div class="maproom2">
          <p class="itext"><span class="clcam">Biên Hòa - Đồng Nai:</span> Số 2047 Đường Nguyễn Ái Quốc, Tp Biên Hòa</p>
        </div>
      </div> -->
    </div>
    <!-- <product-list-component></product-list-component>
    <feedback-component></feedback-component> -->
    <!-- <pm-frontpage-content></pm-frontpage-content> -->
  </div>
  <router-outlet>
    
  </router-outlet>