@import '../src/scss/mixin.scss';

body {
  font-size: 16px;
}

a {
  color: #fff;

  &:hover {
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
  }
}

::ng-deep pm-root {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00908c;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;

}

.main-header,
.sub-header {
  padding-bottom: 30px;
}

.container {
  @media (min-width: $screen-lg-min) {
    width: 1400px;
  }
}

.zalo-chat-widget {
  right: 90px !important;
  bottom: 10px !important;
  position: fixed;
}

.fb-customerchat {
  iframe {
    max-height: 100%;
  }
}